{% extends './base.html' %}
{% block content %}


<h3>{{movie.title}}</h3>
<h5>{{movie.director}}</h5>
<h5>{{movie.watch_date}}視聴</h5>



{% for log in movie.log.all %}
    <table>
        <td>{{ log.text }}</td>
        <td>
            <button onclick="location.href='{% url 'myapp:updatelog' log.id %}'">編集</button>
            <button onclick="location.href='{% url 'myapp:deletelog' log.id %}'">削除</button>
        </td>
        <hr color="black" >
    </table>


{% endfor %}

<a href="{% url 'myapp:writingthismovielog' movie.id %}">この作品の感想を書く</a><br>
<a href="{% url 'myapp:deletemovie' movie.id %}">この作品のデータを削除する</a><br>
<a href="{% url 'myapp:index' %}">ホームに戻る</a><br>

{% endblock %}
