{% extends 'base.html' %}
{% block content %}
<style type="text/css">
        .submit_button{
        color:black;
        text-decoration:none;
        padding: 5px;
        border-radius: 25px;
        background-color:skyblue;
        transition: all ease-in-out;
    }
    .submit_button:hover{
        background-color:blue;
        color:#FFF;
        text-decoration:none;
    }
</style>
<div class="waku">
<h2>日記の投稿が完了しました！</h2>
<a class="submit_button1" href="{% url 'diary:diary_list' %}">投稿一覧</a>
<a class="submit_button1" href="{% url 'diary:index' %}">トップへ戻る</a>
</div >

{% endblock %}