{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    .waku{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }
    .スクロール{
        border:2px solid rgba(150, 150, 150, 0.1);
        padding: 5px 15px;
        overflow-y:scroll;
        height:300px;
        border-radius:10%;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none; /* リストのマーカーを削除 */
        text-align: center;
    }
    li {
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        padding: 0;
    }
    h3{
        display: inline-block;
        border-bottom: 2px solid rgba(150, 150, 150, 0.3);
        margin-bottom:20px;
    }
    .submit_list{
        display:inline-block;
        color:black;
        padding: 5px;
        width: 400px;
        height:30px;
        line-height:30px;
        border-radius: 25px;
        background-color:greenyellow;
        transition: all ease-in-out 0.1s;
        overflow:hidden;
        text-decoration:none;
    }
    .submit_list:hover{
        background-color:green;
        color:#FFF;
        text-decoration:none;
    }
    .検索{padding:1px 3px;
        border-color:rgba(0,0,0,0);
    }
</style>
<div class="waku">
<h3>{{ request.user.username }}さんの投稿</h3>
<div><form method="post">{% csrf_token %}
    <input type="text" name="search_text" placeholder="日記本文を検索">
    <button type="submit" class="submit_button1 検索">検索</button></form>
{% if search_text %}<h5>「{{ search_text }}」が含まれる日記</h5>{% endif %}
{% if message %}<div>{{ message }}</div>{% endif %}</div>
<div class="スクロール">
<ul>
{% for item in diary %}
<li>
    <a class="submit_list" href="{% url 'diary:diary_detail' pk=item.pk %}">{{ item.date.month }}/{{ item.date.day }}：{{ item.title }}</a>
</li>
{% endfor %}
</ul>
</div>
<a class="submit_button1" href="{% url 'diary:index' %}">戻る</a></div>
{% endblock %}