{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<style type="text/css">
    .form-group{
        margin: 10px;
    }
    .submit_button{
        width: 50px;
        height:30px;
        border-radius: 25px;
        background-color:skyblue;
        transition: all ease-in-out;
        border-color:rgba(0,0,0,0);
    }
    .submit_button:hover{
        background-color:blue;
        color:#FFF;
    }
    textarea, .form_title{
        width:400px;
        display:block;
        margin-bottom: 10px;
    }
    .form_date{
            width:90px;
    }
    label{
        margin:0;
    }
    .heading{
        display:inline-block;
    }
</style>
<div class="waku">
    <h1 class="heading" >新規投稿</h1>
    <form method="post">
        {% csrf_token %}
            <label>{{ form.title.label }}</label>
            {{ form.title | add_class:"form_title" }}
            <label>{{ form.text.label }}</label>
            <textarea name="{{ form.text.name }}" rows="5"></textarea>
            <label>{{ form.date.label }}</label>
            {{ form.date | add_class:"form_date" }}
        <button type="submit" class="submit_button">投稿</button>
    </form>
</div>
{% endblock %}