{% extends 'base.html' %}
{% block content %}
<style type="text/css">
        body{
                text-align: center;
                
        }
        .一般
        {
                font-size: 50px;
                text-decoration:none;
                color: red;
        }

</style>
        <h2 class="一般"><a href="{% url 'account_login' %}">一般</a></h2>
        <h2 class="管理者"><a href="http://127.0.0.1:8000/admin">管理者</a></h2>  
{% endblock %}

<style type="text/css">
        body{
                text-align: center   
        }
</style>