{% extends 'base.html' %}
{% block content %}
<style type="text/css">
        span{
            position:relative;
            display: inline-block;
            margin: 5px;
        }
    p{
        float:left;
    }
    .heading{
            font-size: 50px;
            font-family: Arial;
            border-bottom:3px solid rgba(150, 150, 150, 0.3);
            padding-bottom: 10px;}
</style>
<div class="waku">
<span class="welcome">{% now "Y年m月d日" %}</span>
<span class="welcome">{{ request.user.username }}さん</span>
    <h1 class="heading">Diary</h1>
    <p><a class="submit_button1" href="{% url 'diary:diary_create' %}">新規投稿</a></p>
    <p><a class="submit_button1" href="{% url 'diary:diary_list' %}">投稿リスト</a></p>
    <p><a class="submit_button1" href="{% url 'account_logout' %}" role="button">ログアウト</a></p>
</div>
{% endblock %}